
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@model NET_MVC_Application.Models.Account
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            Profielnaam
            @Html.TextBoxFor(m => Model.ProfielNaam) <Br/>
            Wachtwoord
            @Html.PasswordFor(m => Model.Wachtwoord) <Br/>
            <button type="submit">Login</button>
        </div>
    }



</div>

