
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

  @Html.ActionLink("Games","GetMap", new {Hoofd = "GAMES"})
    @Html.ActionLink("It-Pro", "GetMap", new { Hoofd = "IT-PRO" })
    @Html.ActionLink("Computers", "GetMap", new { Hoofd = "COMPUTERS" })


</div>

