
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

  @Html.ActionLink("Games","GetMap", new {Hoofd = "GAMES"}) <br/>
    @Html.ActionLink("It-Pro", "GetMap", new { Hoofd = "IT-PRO" })<br />
    @Html.ActionLink("Computers", "GetMap", new { Hoofd = "COMPUTERS" })<br />


</div>

