@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Fontys :D
</address>

<address>
    <strong>Support:</strong>   <a href="Mitchkuijpers@hotmail.com">Mitchkuijpers@hotmail.com</a><br />
    
</address>